name: Build ROM
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Crave
        run: |
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          sudo mv crave /usr/local/bin/

      - name: Run Build
        shell: bash
        run: |
          # Secretni to'g'ridan-to'g'ri faylga yozishga harakat qilamiz
          cat <<EOF > crave.conf
          ${{ secrets.CRAVE_CONF_FILE }}
          EOF

          # Fayl bo'sh yoki yo'qligini tekshirish
          if [ ! -s crave.conf ] || [ "$(cat crave.conf)" == "" ]; then
            echo "Kritik xato: Secret hali ham o'qilmayapti!"
            exit 1
          fi

          crave -c crave.conf run --no-patch -- "repo init -u https://github.com/PixelExperience/manifest -b thirteen; \
          rm -rf .repo/local_manifests; \
          mkdir -p .repo/local_manifests; \
          curl -L https://raw.githubusercontent.com/rodolfoow/spes.xml/main/spes.xml > .repo/local_manifests/spes.xml; \
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags; \
          source build/envsetup.sh; \
          lunch aosp_spes-userdebug; \
          make bacon"
          
