name: Build ROM
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Crave
        run: |
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          sudo mv crave /usr/local/bin/

      - name: Run Build
        env:
          CONF_JSON: ${{ secrets.CRAVE_CONF_FILE }}
        run: |
          if [ -z "$CONF_JSON" ]; then
            echo "XATO: Secret hali ham topilmadi. Settings bo'limidan Repository Secret qo'shing!"
            exit 1
          fi

          echo "$CONF_JSON" > crave.conf
          
          crave -c crave.conf run --no-patch -- "repo init -u https://github.com/PixelExperience/manifest -b thirteen; \
          rm -rf .repo/local_manifests; \
          mkdir -p .repo/local_manifests; \
          curl -L https://raw.githubusercontent.com/rodolfoow/spes.xml/main/spes.xml > .repo/local_manifests/spes.xml; \
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags; \
          source build/envsetup.sh; \
          lunch aosp_spes-userdebug; \
          make bacon"
          
