name: Build ROM
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Configure Crave
        run: |
          # 1. Crave dasturini o'rnatamiz
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          sudo mv crave /usr/local/bin/

          # 2. Konfiguratsiya faylini yaratamiz
          echo "${{ secrets.CRAVE_CONF_FILE }}" > crave.conf

          # 3. TEKSHIRUV (DEBUG) QISMI:
          echo "========================================"
          echo "FAYL HAJMINI TEKSHIRISH:"
          ls -lh crave.conf
          
          echo "FAYLNING BIRINCHI QATORINI O'QISH:"
          # Agar fayl bo'sh bo'lsa, pastda hech narsa chiqmaydi
          head -n 1 crave.conf
          echo "========================================"

      - name: Run Build on Crave
        run: |
          # Buildni boshlash
          # --no-patch: loyiha topilmaslik xatosini oldini oladi
          # -c crave.conf: aniq shu fayldan foydalanishni buyuradi
          
          crave -c crave.conf run --no-patch -- "repo init -u https://github.com/PixelExperience/manifest -b thirteen; \
          rm -rf .repo/local_manifests; \
          mkdir -p .repo/local_manifests; \
          curl -L https://raw.githubusercontent.com/rodolfoow/spes.xml/main/spes.xml > .repo/local_manifests/spes.xml; \
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags; \
          source build/envsetup.sh; \
          lunch aosp_spes-userdebug; \
          make bacon"
          
